@import 'config.less';
@import 'colors.less';

#first {
  margin-top: 6.5rem;
}

.ui.statistics > .statistic {
  margin: 0 0 .5em .5em;
}

.container.main {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.colored {
  &.npm {
    color: @npmColor !important;
  }
  &.gulp {
    color: @gulpColor !important;
  }
  &.less {
    color: @lessColor !important;
  }
  &.semanticUI {
    color: @semanticUIColor !important;
  }
  &.webpack {
    color: @webpackColor !important;
  }
}
